In [7]:
pip install imblearn

Requirement already satisfied: imblearn in /opt/conda/lib/python3.10/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /opt/conda/lib/python3.10/site-packages (from imblearn) (0.12.2)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in /opt/conda/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.11.4)
Requirement already satisfied: scikit-learn>=1.0.2 in /opt/conda/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.4.2)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (3.4.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd 
import numpy as np
dataset_labeled = pd.read_csv('HotelReservationsModified.csv').drop(['Booking_ID'], axis=1)
dataset_labeled

,no_of_adults,no_of_children,lead_time,arrival_year,arrival_month,arrival_date,no_of_special_requests,type_of_meal_plan_Meal Plan 2,room_type_reserved_Room_Type 1,room_type_reserved_Room_Type 4,room_type_reserved_Room_Type 6,market_segment_type_Offline,market_segment_type_Online,booking_status_Canceled,booking_status_Not_Canceled,label_avg_price_per_room
0,2,0,224,2017,10,2,0,False,True,False,False,True,False,False,True,1
1,2,0,5,2018,11,6,1,False,True,False,False,False,True,False,True,2
2,1,0,1,2018,2,28,0,False,True,False,False,False,True,True,False,1
3,2,0,211,2018,5,20,0,False,True,False,False,False,True,True,False,2
4,2,0,48,2018,4,11,0,False,True,False,False,False,True,True,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,85,2018,8,3,1,False,False,True,False,False,True,False,True,3
36271,2,0,228,2018,10,17,2,False,True,False,False,False,True,True,False,2
36272,2,0,148,2018,7,1,2,False,True,False,False,False,True,False,True,2
36273,2,0,63,2018,4,21,0,False,True,False,False,False,True,True,False,2
36274,2,0,207,2018,12,30,0,False,True,False,False,True,False,False,True,3

In [9]:
dataset_labeled.columns
columns = []

columns.append('label_avg_price_per_room')
for i in range(len(dataset_labeled.columns[:-1])):
    columns.append(dataset_labeled.columns[i])

dataset_labeled = dataset_labeled[columns]
dataset_labeled

,label_avg_price_per_room,no_of_adults,no_of_children,lead_time,arrival_year,arrival_month,arrival_date,no_of_special_requests,type_of_meal_plan_Meal Plan 2,room_type_reserved_Room_Type 1,room_type_reserved_Room_Type 4,room_type_reserved_Room_Type 6,market_segment_type_Offline,market_segment_type_Online,booking_status_Canceled,booking_status_Not_Canceled
0,1,2,0,224,2017,10,2,0,False,True,False,False,True,False,False,True
1,2,2,0,5,2018,11,6,1,False,True,False,False,False,True,False,True
2,1,1,0,1,2018,2,28,0,False,True,False,False,False,True,True,False
3,2,2,0,211,2018,5,20,0,False,True,False,False,False,True,True,False
4,2,2,0,48,2018,4,11,0,False,True,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,3,0,85,2018,8,3,1,False,False,True,False,False,True,False,True
36271,2,2,0,228,2018,10,17,2,False,True,False,False,False,True,True,False
36272,2,2,0,148,2018,7,1,2,False,True,False,False,False,True,False,True
36273,2,2,0,63,2018,4,21,0,False,True,False,False,False,True,True,False
36274,3,2,0,207,2018,12,30,0,False,True,False,False,True,False,False,True

In [10]:
# let variables between 0-2 for xgboost use
def xgboost_label(room_price_label):
    if room_price_label == 1:
        return 0
    elif room_price_label == 2:
        return 1
    else:
        return 2

In [11]:
dataset_labeled['label_avg_price_per_room'] = dataset_labeled['label_avg_price_per_room'].apply(lambda x: xgboost_label(x))

In [12]:
dataset_labeled

,label_avg_price_per_room,no_of_adults,no_of_children,lead_time,arrival_year,arrival_month,arrival_date,no_of_special_requests,type_of_meal_plan_Meal Plan 2,room_type_reserved_Room_Type 1,room_type_reserved_Room_Type 4,room_type_reserved_Room_Type 6,market_segment_type_Offline,market_segment_type_Online,booking_status_Canceled,booking_status_Not_Canceled
0,0,2,0,224,2017,10,2,0,False,True,False,False,True,False,False,True
1,1,2,0,5,2018,11,6,1,False,True,False,False,False,True,False,True
2,0,1,0,1,2018,2,28,0,False,True,False,False,False,True,True,False
3,1,2,0,211,2018,5,20,0,False,True,False,False,False,True,True,False
4,1,2,0,48,2018,4,11,0,False,True,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,2,3,0,85,2018,8,3,1,False,False,True,False,False,True,False,True
36271,1,2,0,228,2018,10,17,2,False,True,False,False,False,True,True,False
36272,1,2,0,148,2018,7,1,2,False,True,False,False,False,True,False,True
36273,1,2,0,63,2018,4,21,0,False,True,False,False,False,True,True,False
36274,2,2,0,207,2018,12,30,0,False,True,False,False,True,False,False,True

In [13]:
from sklearn.model_selection import train_test_split

df_treinamento, df_teste = train_test_split(dataset_labeled, test_size=0.3, random_state=40)

In [14]:
df_treinamento.shape

(25392, 16)

In [15]:
df_teste.shape

(10883, 16)

In [16]:
X_teste = df_teste.iloc[:,1:len(dataset_labeled)].astype('float32').values
X_teste

array([[  2.,   0., 192., ...,   0.,   0.,   1.],
       [  2.,   1.,  29., ...,   1.,   1.,   0.],
       [  2.,   0.,   9., ...,   1.,   1.,   0.],
       ...,
       [  2.,   0.,  68., ...,   1.,   0.,   1.],
       [  2.,   0., 159., ...,   0.,   0.,   1.],
       [  1.,   0.,  15., ...,   0.,   0.,   1.]], dtype=float32)

In [17]:
X_teste.shape

(10883, 15)

In [18]:
Y_teste = df_teste.iloc[:, 0].astype('float32').values
Y_teste

array([0., 2., 2., ..., 1., 0., 1.], dtype=float32)

In [19]:
Y_teste.shape

(10883,)

In [20]:
df_treinamento.astype('float32').to_csv('hotel-reservations-train-xgboost.csv', header = False, index = False)
df_teste.astype('float32').to_csv('hotel-reservations-test-xgboost.csv', header = False, index = False)

In [21]:
import collections

collections.Counter(df_treinamento['label_avg_price_per_room'])

Counter({1: 9473, 2: 8276, 0: 7643})

In [22]:
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import SMOTE

smote = SMOTE()

In [23]:
X_resampled, y_X_resampled = smote.fit_resample(df_treinamento.iloc[:,1:len(dataset_labeled)].astype('float32').values, df_treinamento.iloc[:, 0].astype('float32').values)

In [24]:
collections.Counter(y_X_resampled)

Counter({1.0: 9473, 0.0: 9473, 2.0: 9473})

In [25]:
t = pd.DataFrame(X_resampled)
t.insert(0, column=1000, value = y_X_resampled)
t

,1000,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1.0,2.000000,0.000000,37.000000,2018.000000,10.000000,13.000000,0.000000,0.0,1.000000,0.000000,0.0,1.0,0.0,0.0,1.0
1,0.0,1.000000,0.000000,2.000000,2018.000000,4.000000,20.000000,1.000000,0.0,1.000000,0.000000,0.0,0.0,0.0,0.0,1.0
2,1.0,2.000000,0.000000,137.000000,2018.000000,11.000000,15.000000,1.000000,0.0,1.000000,0.000000,0.0,0.0,1.0,1.0,0.0
3,1.0,1.000000,0.000000,32.000000,2018.000000,4.000000,17.000000,0.000000,0.0,1.000000,0.000000,0.0,0.0,1.0,1.0,0.0
4,0.0,2.000000,0.000000,142.000000,2018.000000,8.000000,22.000000,1.000000,0.0,1.000000,0.000000,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28414,2.0,2.313281,0.000000,56.686718,2018.000000,6.000000,8.313281,0.000000,0.0,0.686719,0.313281,0.0,0.0,1.0,1.0,0.0
28415,2.0,2.000000,0.000000,154.000000,2018.000000,7.000000,7.000000,1.000000,0.0,0.000000,1.000000,0.0,0.0,1.0,1.0,0.0
28416,2.0,2.000000,0.000000,2.842279,2017.157715,9.000000,18.842279,1.000000,0.0,0.000000,1.000000,0.0,0.0,1.0,0.0,1.0
28417,2.0,2.000000,0.744896,150.255112,2018.000000,9.744896,3.255104,0.510209,0.0,1.000000,0.000000,0.0,0.0,1.0,1.0,0.0
28418,2.0,3.000000,0.000000,126.053665,2018.000000,7.053665,23.026833,2.000000,0.0,0.000000,1.000000,0.0,0.0,1.0,0.0,1.0

In [26]:
t.to_csv('hotel-reservations-train-xgboost.csv', header = False, index = False)

### ConfiguraÃ§Ãµes SageMaker

In [27]:
import sagemaker
import boto3
from sagemaker import Session

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml

In [ ]:
# set default credentials
boto3.setup_default_session(region_name='us-east-1')

# create session
session = sagemaker.Session()

# define bucket, folders and keys
bucket = ''
subpasta_modelo = 'modelos/hotelreservations/xgboost-oversampling'
subpasta_dataset = 'dataset/hotelreservations'
key_train = 'hotel-train-data-xgboost'
key_test = 'hotel-test-data-xgboost'

role = sagemaker.get_execution_role()

# paths for train and test
s3_train_data = 's3://{}/{}/train/{}'.format(bucket, subpasta_dataset, key_train)
s3_test_data = 's3://{}/{}/test/{}'.format(bucket, subpasta_dataset, key_test)
output_location = 's3://{}/{}/output'.format(bucket, subpasta_modelo)

In [29]:
import os
with open('hotel-reservations-train-xgboost.csv', 'rb') as f:
  boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(subpasta_dataset, 'train', key_train)).upload_fileobj(f)

In [30]:
with open('hotel-reservations-test-xgboost.csv', 'rb') as f:
    boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(subpasta_dataset, 'test', key_test)).upload_fileobj(f)

In [31]:
from sagemaker import image_uris
container = image_uris.retrieve(framework = 'xgboost', region=boto3.Session().region_name, version='latest')

In [36]:
xgboost = sagemaker.estimator.Estimator(
    image_uri = container,
    role = role,
    instance_count = 1,
    instance_type = 'ml.m5.2xlarge',
    output_path = output_location,
    sagemaker_session = session
)

In [37]:
xgboost.set_hyperparameters(
    num_round=200,
    objective='multi:softprob',
    num_class=3
)

In [38]:
train_input = sagemaker.inputs.TrainingInput(s3_data = s3_train_data, content_type='csv', s3_data_type = 'S3Prefix')
validation_input = sagemaker.inputs.TrainingInput(s3_data = s3_test_data, content_type='csv', s3_data_type = 'S3Prefix')
data_channels = {'train': train_input, 'validation': validation_input}

In [ ]:
xgboost.fit(data_channels)

### Deploy

In [ ]:
xgboost_regressor = xgboost.deploy(initial_instance_count = 1, instance_type = 'ml.m4.xlarge')

In [41]:
from sagemaker.serializers import CSVSerializer
xgboost_regressor.serializer = CSVSerializer()

In [42]:
X_teste.shape, type(X_teste)

((10883, 15), numpy.ndarray)

In [43]:
#previsoes = np.array(xgboost_regressor.predict(X_teste).decode('utf-8'))
previsoes_bytes = xgboost_regressor.predict(X_teste)
previsoes_str = previsoes_bytes.decode('utf-8')
previsoes_list = eval(previsoes_str)
previsoes_array = np.array(previsoes_list)
previsoes_array

array([[5.57662249e-01, 4.12803411e-01, 2.95343343e-02],
       [4.31457408e-07, 8.59711799e-05, 9.99913573e-01],
       [1.47805596e-02, 1.13246180e-01, 8.71973276e-01],
       ...,
       [4.49580729e-01, 4.95127469e-01, 5.52918613e-02],
       [9.11069751e-01, 8.81813318e-02, 7.48887833e-04],
       [2.92147547e-01, 7.07703948e-01, 1.48552950e-04]])

In [44]:
predicted_labels = np.argmax(previsoes_array, axis=1)
predicted_labels

array([0, 2, 2, ..., 1, 0, 1])

In [45]:
Y_teste = np.array(Y_teste)
Y_teste

array([0., 2., 2., ..., 1., 0., 1.], dtype=float32)

In [46]:
import numpy as np
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix

accuracy = accuracy_score(Y_teste, predicted_labels)
precision = precision_score(Y_teste, predicted_labels, average='macro')
recall = recall_score(Y_teste, predicted_labels, average='macro')
f1 = f1_score(Y_teste, predicted_labels, average='macro')

In [47]:
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Accuracy: 0.8229348525222825
Precision: 0.8260137468914065
Recall: 0.8254039335074334
F1 Score: 0.8253429215952733

In [48]:
print(classification_report(Y_teste, predicted_labels))

              precision    recall  f1-score   support

         0.0       0.85      0.80      0.83      3308
         1.0       0.78      0.78      0.78      4127
         2.0       0.85      0.89      0.87      3448

    accuracy                           0.82     10883
   macro avg       0.83      0.83      0.83     10883
weighted avg       0.82      0.82      0.82     10883

In [49]:
cm = confusion_matrix(Y_teste, predicted_labels)
cm

array([[2660,  569,   79],
       [ 433, 3225,  469],
       [  43,  334, 3071]])